.wrap{
    height: 100%;
    width: 100%;
    display: flex;
    max-height: 500px;
}

.user-wrap{
    width: 200px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eee;
}

.user-info{
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .user-icon{
        padding: 8px;
        font-size: 24px;
        background-color: orange;
        color: white;
        border-radius: 100%;
    }
    border-bottom: 1px solid #eee;
}

.user-submissions{
    // margin-top: 1rem;

    .submisson{
        border-bottom: 1px solid #eee;
        padding: 0.5rem 0.25rem;
        display: flex;
        justify-content: space-between;
        .info{
            .date{
                font-size: 12px;
            }
        }
        .controls{
            button{
                border: none;
                border-radius: 5px;
                width: 45px;
                height: 25px;
                background-color: white;
            }
            button:hover{
                background-color: #eee;
            }
        }
    }
}


.editor-wrap{
    display: flex;
    width: 100%;
    height: 100%;

    .code-editor{
        width: 70%;
        .editor-info{
            padding: 0.5rem 0.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .lang-info{
                display: flex;
                .lang{
                    margin-left: 15px ;
                }
            }

            .controls{
                display: flex;
                
                .run-btn{
                    border: none;
                    border-radius: 5px;
                    background-color: forestgreen;
                    color: white;
                    padding: 0.5rem 1.5rem;
                    margin-right: 1rem;
                    margin-left: 1rem;
                }
                .save-btn{
                    border: none;
                    border-radius: 5px;
                    padding: 0.5rem 1.5rem;
                }
            }
        }

        .app-ace-editor {
            border: 2px solid #f8f9fa;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            width: 100%;
            height: 450px;
        }
    }

    .io{
        display: flex;
        flex-direction: column;
        width: 30%;
        .input{
            width: 100%;
            height: 200px;
            background-color: white;
            border-bottom: 3px solid #eee;
            .input-title{
                text-align: center;
                background-color: #eee;
                padding: 0.5rem 0.25rem;
            }
            .input-data{
                border: none;
                width: 100%;
                height: 100%;
                padding: 0.25rem 0.25rem;
            }
        }
        .output{
            width: 100%;
            height: 400px;
            background-color: white;
            .output-title{
                text-align: center;
                background-color: #eee;
                padding: 0.5rem 0.25rem;
            }
            .output-data{
                border: none;
                width: 100%;
                height: 100%;
                padding: 0.25rem 0.25rem;
            }
        }
    }

}
