.btn-logout{
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.4rem 1rem;
  margin-top:.3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 14px;;
}
.center{
  margin-left:20%;
}
